* { box-sizing: border-box }
html{
    background-image: url("assets/images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body{
    display: flex;
    flex-direction: row;
}
.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.logo{
    width: 20vw;
}
.login{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.puplogo{
    width: 20vw
}
.loginform{ 
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 35vh;
    width: 25vw;
    border-radius: 20px;
    align-items: center;
}
.loginform input{
    width: 80%;
    height: 5vh;
    border-radius: 5px;
    border-color: rgb(213, 213, 213);
    border-style: solid;
    margin: 5px;
}
.loginform button{
    width: 80%;
    height: 5vh;
    border-radius: 5px;
    border-style: none;
    background-color: maroon;
    color: white;
}

.loginform a{
    text-decoration: none;
    color: black;
}
.nigward{
    width: 80%;
    text-align: right;
}
.loginform h1{
    margin-bottom: 5vh;
}
